.disordered{
	background: #F06C51;
	font-family: monospace;

}
.structured{
	background: #99F051;
	font-family: monospace;
}
.letterK{
    color: #ff9393;
}

#block2{
    margin: 30px;
    float: right;
}
#block1{
    float: left;
}
body {
  background-color: #444;
}

.navbar-inverse .navbar-brand {
    color: #7109AA;
    outline: none;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #822EAF;
    background-color: transparent;
    outline: none;
}
.navbar-inverse .navbar-brand span {
    color: #CECE00;
}
.navbar-inverse .navbar-brand:focus span,
.navbar-inverse .navbar-brand:hover span {
    color: #FFFF39;
}
.navbar-inverse .navbar-brand span span{
    color: #7BB800;
}
.navbar-inverse .navbar-brand:focus span span,
.navbar-inverse .navbar-brand:hover span span {
    color: #B1EF35;
}
.navbar-inverse .navbar-brand span span span {
    color: #9E0059;
}
.navbar-inverse .navbar-brand:focus span span span,
.navbar-inverse .navbar-brand:hover span span span {
    color: #D02E8A;
}
.navbar {
 min-height: 80px;
}
.navbar-brand {
  height: 80px;
  padding: 15px 15px;
  font-size: 300%;
  line-height: 50px;
}
.navbar-nav > li > a {
  line-height: 50px;
  font-size: 175%;
}
.navbar-nav > li > a:focus {
  color: #eee;
}

code {
font-size: 10;
}
.panel_title_text {
  color: #4C4C4C;
  font-size: 120%;
  font-weight: bold;
}
.panel_body_text {
  color: #4C4C4C;
  font-size: 110%;
}
.kman-k {
    color: #7109AA;
    font-size: 120%;
    font-weight: bold;
}
.kman-m {
    color: #FFFF00;
    font-size: 120%;
    font-weight: bold;
}
.kman-a {
    color: #7BB800;
    font-size: 120%;
    font-weight: bold;
}
.kman-n {
    color: #9E0059;
    font-size: 120%;
    font-weight: bold;
}
.navbar-inverse {
  background-color: #252525;
  background-image: none;
  /*
  background-image: -webkit-linear-gradient(top, #3f3f3f 0%, #353535 50%);
  background-image:      -o-linear-gradient(top, #3f3f3f 0%, #353535 50%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#353535));
  background-image:         linear-gradient(to bottom, #3f3f3f 0%, #353535 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3f3f3f', endColorstr='#ff353535', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = true);
  background-repeat: repeat-x;
  */
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d5d5d5 0%, #d8d8d8 100%);
  background-image:      -o-linear-gradient(top, #d5d5d5 0%, #d8d8d8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#d8d8d8));
  background-image:         linear-gradient(to bottom, #d5d5d5 0%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd5d5d5', endColorstr='#ffd8d8d8', GradientType=0);
  background-repeat: repeat-x;
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #bce3f2 0%, #357ebd 100%);
  background-image:      -o-linear-gradient(top, #bce3f2 0%, #357ebd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bce3f2), to(#357ebd));
  background-image:         linear-gradient(to bottom, #bce3f2 0%, #357ebd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbce3f2', endColorstr='#ff357ebd', GradientType=0);
  background-repeat: repeat-x;
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #d3eaca 0%, #d0e9c6 100%);
  background-image:      -o-linear-gradient(top, #d3eaca 0%, #d0e9c6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d3eaca), to(#d0e9c6));
  background-image:         linear-gradient(to bottom, #d3eaca 0%, #d0e9c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd3eaca', endColorstr='#ffd0e9c6', GradientType=0);
  background-repeat: repeat-x;
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#ebcccc));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
  background-repeat: repeat-x;
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #c7e4f4 0%, #c4e3f3 100%);
  background-image:      -o-linear-gradient(top, #c7e4f4 0%, #c4e3f3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c7e4f4), to(#c4e3f3));
  background-image:         linear-gradient(to bottom, #c7e4f4 0%, #c4e3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc7e4f4', endColorstr='#ffc4e3f3', GradientType=0);
  background-repeat: repeat-x;
}

.btn-domains { 
  color: #ffffff; 
  background-color: #9E0059; 
  border-color: #7A0547; 
} 
 
.btn-domains:hover, 
.btn-domains:focus, 
.btn-domains:active, 
.btn-domains.active, 
.open .dropdown-toggle.btn-domains { 
  color: #ffffff; 
  background-color: #7A0547; 
  border-color: #7A0547; 
} 
 
.btn-domains:active, 
.btn-domains.active, 
.open .dropdown-toggle.btn-domains { 
  background-image: none; 
} 
 
.btn-domains.disabled, 
.btn-domains[disabled], 
fieldset[disabled] .btn-domains, 
.btn-domains.disabled:hover, 
.btn-domains[disabled]:hover, 
fieldset[disabled] .btn-domains:hover, 
.btn-domains.disabled:focus, 
.btn-domains[disabled]:focus, 
fieldset[disabled] .btn-domains:focus, 
.btn-domains.disabled:active, 
.btn-domains[disabled]:active, 
fieldset[disabled] .btn-domains:active, 
.btn-domains.disabled.active, 
.btn-domains[disabled].active, 
fieldset[disabled] .btn-domains.active { 
  background-color: #9E0059; 
  border-color: #7A0547; 
} 
 
.btn-domains .badge { 
  color: #9E0059; 
  background-color: #ffffff; 
}
.btn-motifs { 
  color: #ffffff; 
  background-color: #7BB800; 
  border-color: #649600; 
} 
 
.btn-motifs:hover, 
.btn-motifs:focus, 
.btn-motifs:active, 
.btn-motifs.active, 
.open .dropdown-toggle.btn-motifs { 
  color: #ffffff; 
  background-color: #649600; 
  border-color: #699E00; 
} 
 
.btn-motifs:active, 
.btn-motifs.active, 
.open .dropdown-toggle.btn-motifs { 
  background-image: none; 
} 
 
.btn-motifs.disabled, 
.btn-motifs[disabled], 
fieldset[disabled] .btn-motifs, 
.btn-motifs.disabled:hover, 
.btn-motifs[disabled]:hover, 
fieldset[disabled] .btn-motifs:hover, 
.btn-motifs.disabled:focus, 
.btn-motifs[disabled]:focus, 
fieldset[disabled] .btn-motifs:focus, 
.btn-motifs.disabled:active, 
.btn-motifs[disabled]:active, 
fieldset[disabled] .btn-motifs:active, 
.btn-motifs.disabled.active, 
.btn-motifs[disabled].active, 
fieldset[disabled] .btn-motifs.active { 
  background-color: #7BB800; 
  border-color: #699E00; 
} 
 
.btn-motifs .badge { 
  color: #7BB800; 
  background-color: #ffffff; 
}
.btn-ptms { 
  color: #ffffff; 
  background-color: #CECE00; 
  border-color: #A0BA37; 
} 
 
.btn-ptms:hover, 
.btn-ptms:focus, 
.btn-ptms:active, 
.btn-ptms.active, 
.open .dropdown-toggle.btn-ptms { 
  color: #ffffff; 
  background-color: #ADAD26; 
  border-color: #A0BA37; 
} 
 
.btn-ptms:active, 
.btn-ptms.active, 
.open .dropdown-toggle.btn-ptms { 
  background-image: none; 
} 
 
.btn-ptms.disabled, 
.btn-ptms[disabled], 
fieldset[disabled] .btn-ptms, 
.btn-ptms.disabled:hover, 
.btn-ptms[disabled]:hover, 
fieldset[disabled] .btn-ptms:hover, 
.btn-ptms.disabled:focus, 
.btn-ptms[disabled]:focus, 
fieldset[disabled] .btn-ptms:focus, 
.btn-ptms.disabled:active, 
.btn-ptms[disabled]:active, 
fieldset[disabled] .btn-ptms:active, 
.btn-ptms.disabled.active, 
.btn-ptms[disabled].active, 
fieldset[disabled] .btn-ptms.active { 
  background-color: #CECE00; 
  border-color: #A0BA37; 
} 
 
.btn-ptms .badge { 
  color: #CECE00; 
  background-color: #ffffff; 
}

.btn-regular { 
  color: #ffffff; 
  background-color: #7109AA; 
  border-color: #5A0787; 
} 
 
.btn-regular:hover, 
.btn-regular:focus, 
.btn-regular:active, 
.btn-regular.active, 
.open .dropdown-toggle.btn-regular { 
  color: #ffffff; 
  background-color: #49247A; 
  border-color: #5A0787; 
} 
 
.btn-regular:active, 
.btn-regular.active, 
.open .dropdown-toggle.btn-regular { 
  background-image: none; 
} 
 
.btn-regular.disabled, 
.btn-regular[disabled], 
fieldset[disabled] .btn-regular, 
.btn-regular.disabled:hover, 
.btn-regular[disabled]:hover, 
fieldset[disabled] .btn-regular:hover, 
.btn-regular.disabled:focus, 
.btn-regular[disabled]:focus, 
fieldset[disabled] .btn-regular:focus, 
.btn-regular.disabled:active, 
.btn-regular[disabled]:active, 
fieldset[disabled] .btn-regular:active, 
.btn-regular.disabled.active, 
.btn-regular[disabled].active, 
fieldset[disabled] .btn-regular.active { 
  background-color: #7109AA; 
  border-color: #5A0787; 
} 
 
.btn-regular .badge { 
  color: #7109AA; 
  background-color: #ffffff; 
}
/*
.panel.panel-default.panel-gray {
  .panel.panel-default;
  background-color: #F6F6F6;
  background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #f0f0f0 100%);
  background-image:      -o-linear-gradient(top, #f6f6f6 0%, #f0f0f0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f0f0f0));
  background-image:         linear-gradient(to bottom, #f6f6f6 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#fff0f0f0', GradientType=0);
  background-repeat: repeat-x;
}
*/


/*
.panel.panel-default.panel-kman {
  .panel.panel-default;
  background-image: -webkit-linear-gradient(top, #c2e1e2 0%, #d6ebec 100%);
  background-image:      -o-linear-gradient(top, #c2e1e2 0%, #d6ebec 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c2e1e2), to(#d6ebec));
  background-image:         linear-gradient(to bottom, #c2e1e2 0%, #d6ebec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16c2e1e2', endColorstr='#16d6ebec', GradientType=0);
  background-repeat: repeat-x;
}
*/
/*
.panel.panel-default.panel-kman {
  .panel.panel-default;
  background-image: -webkit-linear-gradient(top, #bcd0d1 0%, #d2e0e0 100%);
  background-image:      -o-linear-gradient(top, #bcd0d1 0%, #d2e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcd0d1), to(#d2e0e0));
  background-image:         linear-gradient(to bottom, #bcd0d1 0%, #d2e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16bcd0d1', endColorstr='#16d2e0e0', GradientType=0);
  background-repeat: repeat-x;
}
*/

/*
.panel {
      border: 0;
}
*/

.form-control.gap-form {
  width: 50px;
  height: 27px;
}

#prediction_method_div ul {
  list-style-type: none;
   columns: 2;
   -webkit-columns: 2;
   -moz-columns: 2;
}

<<<<<<< HEAD

=======
>>>>>>> a5fefb8a7ec332905d7d1829d3352de6d95a2afc
