body {
  background-color: #444;
}

.panel-title-text {
  color: #4C4C4C;
  font-size: 120%;
  font-weight: bold;
}

.panel-body-text {
  color: #4C4C4C;
  font-size: 110%;
}

.kmad-k {
    color: #7109AA;
    font-size: 120%;
    font-weight: bold;
}

.kmad-m {
    color: #FFFF00;
    font-size: 120%;
    font-weight: bold;
}

.kmad-a {
    color: #7BB800;
    font-size: 120%;
    font-weight: bold;
}

.kmad-n {
    color: #9E0059;
    font-size: 120%;
    font-weight: bold;
}

.form-control.gap-form {
  height: 27px;
  width: 50px;
}

#predictionMethod ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
}
