{% extends "base.html" %}
{% block title %}
Disprot examples
{% endblock %}
{% block additional_imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/disprot_examples.css') }}">
{% endblock %}
{% block content %}
<div class="panel panel-default" style="width=100%;" id="panel0">
  <div class="panel-heading">
    <div class="panel-title">
    </div>
  </div>
  <div class="panel-body">
    We encountered several types of errors in Clustal Omega alignments, that
    are listed here with representative examples for each kind.
  </div>
  <br>
  <div class="panel-heading">
    <div class="panel-title">
      <strong>Terminal motifs</strong>
    </div>
  </div>
  <div class="panel-body">
    <br>
    <strong>60S acidic ribosomal protein P1-B</strong>
    <br>
    <span class="panel-body-custom">
    In this example the turquoise motif
    <a
      href="http://elm.eu.org/elmPages/LIG_BIR_II_1.html">LIG_BIR_II_1</a>
    at the N-terminus  
    is clearly conserved, but is not very well aligned in the Clustal Omega
    alignment. KMAD lines up all of its instances together. An alignment like
    this tells us more about the reliability of the motif prediction.

    </span>
    <div class="row">
      <br>
      <div class="col-md-12">
        Clustal Omega
        <br>
        <img src="{{ url_for('static', filename="images/disprot_examples/terminal_motifs/DP00001_e2_rand_clustal.png")}}">
        <br>
        KMAD
        <br>
        <img src="{{ url_for('static', filename="images/disprot_examples/terminal_motifs/DP00001_e2_rand_kmad10.png")}}">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="row">
            <div class style="overflow:auto;">
          <img src="{{ url_for('static',
          filename="images/disprot_examples/terminal_motifs/DP00001_legend.png")}}">
          </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <strong>Protein EMB-1</strong>
    <br>
    <span class="panel-body-custom">
    In this example there are two incorrectly aligned motifs - one is the same
    motif as in the previous example, 
    <a
      href="http://elm.eu.org/elmPages/LIG_BIR_II_1.html">LIG_BIR_II_1</a>
    (now highlighted in orange)
    - and KMAD also aligns it better now. Second motif here is the 
    <a href="http://elm.eu.org/elmPages/TRG_ENDOCYTIC_2.html">TRG_ENDOCYTIC_2</a>
      motif (highlighted in slightly lighter orange) beginning in the first
      sequence at position 65 and ending at position 129. In the KMAD alignment
      the motifs form the left side are shifted to the right, which shows how
      well the motif is conserved. The whole gap between positions 65 - 125 is
      much 'cleaner' now and shows that the similarity of these proteins in
      this region is actually much higher than what it seemed from the
      Clustal alignment.
      the first
    </span>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/terminal_motifs/DP00022_e2_rand_clustal.png")}}">
          <br>
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/terminal_motifs/DP00022_e2_rand_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="row">
            <div class style="overflow:auto;">
          <img src="{{ url_for('static',
          filename="images/disprot_examples/terminal_motifs/DP00022_legend.png")}}">
          </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <strong>Eukaryotic translation initiation factor 4E-binding protein 1</strong>
    <br>
    <span class="panel-body-custom">
    This is another example of an incorrectly aligned
    <a
      href="http://elm.eu.org/elmPages/LIG_BIR_II_1.html">LIG_BIR_II_1</a>
    motif. In the KMAD alignment only in the 6th sequence the moitf is not
    lined up with the conserved column - but this is actually a desired result.
    Aligning it with all the other instances of the motif would break other
    similarities. For exmaple the identity of the 5 residue segment (positions
    3 - 7) between sequences 6 and 3 or 4 is 80%, but if the motif from the 6th
    sequence started on position 3 like in other sequences this identity would
    drop down to 40%.
    </span>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/terminal_motifs/DP00028_e2_rand_clustal.png")}}">
          <br>
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/terminal_motifs/DP00028_e2_rand_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
            <div class style="overflow:auto;">
          <img src="{{ url_for('static',
          filename="images/disprot_examples/terminal_motifs/DP00028_legend.png")}}">
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="panel-heading">
    <div class="panel-title">
      <strong>Other motifs</strong>
    </div>
  </div>
  <div class="panel-body">
    <br>
    <strong>Kappa-casein</strong>
    <br>
    <span class="panel-body-custom">

    <a
      href="http://elm.eu.org/elmPages/DEG_SCF_FBW7_1.html">DEG_SCF_FBW7_1</a>
    highlighted in neon green is split up in two parts in the Clustal Omega
    alignment. Such an alignment could lead to an (most probably) incorrect
    conclusion that the 'PTTE' segment in the lower sequences is an insertion.
    The KMAD alignment doesn't align the motif perfectly, because the
    similarities in the segment on positions 151 - 158 are too strong,
    therefore forcing the motif to be lined up even more would decrease the
    quality of the alignment.

    </span>
    <div class="row">
      <br>
      <div class="col-md-6">
        Clustal Omega
        <br>
        <img src="{{ url_for('static', filename="images/disprot_examples/other_motifs/DP000192_e2_rand_clustal_motifs.png")}}">
      </div>
      <div class="col-md-6">
        KMAD
        <br>
        <img src="{{ url_for('static', filename="images/disprot_examples/other_motifs/DP000192_e2_rand_kmad10_motifs.png")}}">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
            <div class style="overflow:auto;">
            <img src="{{ url_for('static',
            filename="images/disprot_examples/other_motifs/DP00047_legend.png")}}">
            </div>
        </div>
      </div>
    </div>
    <strong>Myelin basic protein</strong>
    <br>
    <span class="panel-body-custom">
      At first sight it seems like the
    <a
      href="http://elm.eu.org/elmPages/MOD_PKA_2.html">MOD_PKA_2</a>
    motif (purple) should be shifted by 6 residues to the right to be aligned
    with the conserved column having the same motif in other sequences.
    The similarity amino acid-wise would not be increased but at leats the
    motif would be aligned well. But when we look at the KMAD alignment we can
    see that the mistake Clustal made is even worse - KMAD shifts the whole
    'GRDSRS' segment to the right side of the gap, where it fits perfectly,
    having 100% identity with the first 8 sequences. We show the same examples
    in the PTMs section, as the KMAD alignment also improves PTM alignment in
    these sequences.
    </span>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/other_motifs/DP00047_e2_rand_clustal_motifs.png")}}">
          <br>
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/other_motifs/DP00047_e2_rand_kmad10_motifs.png")}}">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
            <div class style="overflow:auto;">
            <img src="{{ url_for('static',
            filename="images/disprot_examples/other_motifs/DP00047_legend.png")}}">
            </div>
        </div>
      </div>
    </div>
    <br>
    <strong>Basic salivary proline-rich protein 4</strong>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/other_motifs/DP00119_e2_trembl_clustal.png")}}">
          <br>
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static', filename="images/disprot_examples/other_motifs/DP00119_e2_trembl_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
            <div class style="overflow:auto;">
            <img src="{{ url_for('static',
            filename="images/disprot_examples/other_motifs/DP00119_legend.png")}}">
            </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="panel-heading">
    <div class="panel-title">
      <strong>PTM shifts</strong>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div style="overflow:auto;">
            <img src="{{ url_for('static', filename="images/ptms_legend.png")}}">
          </div>
        </div>
      </div>
    </div>
    <br>
    <strong>Microtubule-associated protein 2</strong>
    <div class="row">
      <br>
      <div class="col-md-6">
        Clustal Omega
        <br>
        <img src="{{ url_for('static', filename="images/disprot_examples/ptm_shift/DP000122_e2_rand_clustal.png")}}">
      </div>
      <div class="col-md-6">
        KMAD
        <br>
        <img src="{{ url_for('static', filename="images/disprot_examples/ptm_shift/DP000122_e2_rand_kmad10.png")}}">
      </div>
    </div>
    <br>
    <hr>
    <strong>Beta casein</strong>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP000199_e2_rand_clustal.png")}}">
          <br>
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP000199_e2_rand_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <strong>Stathmin</strong>
    <div class="row">
      <br>
      <div class="col-md-6">
        Clustal Omega
        <br>
        <img src="{{ url_for('static',
        filename="images/disprot_examples/ptm_shift/DP000174_e2_rand_clustal.png")}}">
      </div>
      <div class="col-md-6">
        KMAD
        <br>
        <img src="{{ url_for('static',
        filename="images/disprot_examples/ptm_shift/DP000174_e2_rand_kmad10.png")}}">
      </div>
    </div>
    <br>
    <hr>
    <strong>Osteopontin</strong>
    <div class="row">
      <br>
      <div class="col-md-6">
        Clustal Omega
        <br>
        <img src="{{ url_for('static',
        filename="images/disprot_examples/ptm_shift/DP000214_e2_rand_clustal.png")}}">
      </div>
      <div class="col-md-6">
        KMAD
        <br>
        <img src="{{ url_for('static',
        filename="images/disprot_examples/ptm_shift/DP000214_e2_rand_kmad10.png")}}">
      </div>
    </div>
    <br>
    <hr>
    <strong>Bone sialoprotein 1</strong>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP000332_e2_rand_clustal.png")}}">
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP000332_e2_rand_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <strong>Alpha-S1-casein</strong>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP000330_e2_rand_clustal.png")}}">
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP000330_e2_rand_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <strong>Genome polyprotein</strong>
    <div class="row">
      <br>
      <div class="col-md-6">
        Clustal Omega
        <br>
        <img src="{{ url_for('static',
        filename="images/disprot_examples/ptm_shift/DP000615_e2_rand_clustal.png")}}">
      </div>
      <div class="col-md-6">
        KMAD
        <br>
        <img src="{{ url_for('static',
        filename="images/disprot_examples/ptm_shift/DP000615_e2_rand_kmad10.png")}}">
      </div>
    </div>
    <br>
    <hr>
    <strong>Prothymosin alpha</strong>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP00058_e2_rand_clustal.png")}}">
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP00058_e2_rand_kmad10.png")}}">
        </div>
      </div>
    </div>
    <br>
    <hr>
    <strong>Myelin basic protein</strong>
    <div class="row">
      <br>
      <div class="col-md-12">
        <div style="overflow:auto">
          Clustal Omega
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP00047_e2_rand_clustal_ptms.png")}}">
          <br>
          KMAD
          <br>
          <img src="{{ url_for('static',
          filename="images/disprot_examples/ptm_shift/DP00047_e2_rand_kmad10_ptms.png")}}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
