{% extends "base.html" %}
{% block title %}
T-coffee examples
{% endblock %}
{% block additional_imports %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/disprot_examples.css') }}">
{% endblock %}
{% block content %}
<div class="panel panel-default" style="width=100%;" id="panel0">
  <div class="panel-heading">
    <div class="panel-title">
      <strong>T-coffee</strong>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ url_for('static',
          filename="alignments/t_coffee/dp00006.html")}}"
          class="btn btn-primary active" id="btn1" onClick=activate("btn1") target="alignment_frame">Alignment 1</a>
        <a href="{{ url_for('static',
          filename="alignments/t_coffee/dp00022.html")}}"
          class="btn btn-primary" id="btn2" onClick=activate("btn2")
          target="alignment_frame">Alignment 2</a>
        <a href="{{ url_for('static',
          filename="alignments/t_coffee/dp00047.html")}}"
          class="btn btn-primary" id="btn3" onClick=activate("btn3")
          target="alignment_frame">Alignment 3</a>
        <a href="{{ url_for('static',
          filename="alignments/t_coffee/dp00058.html")}}"
          class="btn btn-primary" id="btn4" onClick=activate("btn4")
          target="alignment_frame">Alignment 4</a>
        <a href="{{ url_for('static',
          filename="alignments/t_coffee/dp00069.html")}}"
          class="btn btn-primary" id="btn5" onClick=activate("btn5")
          target="alignment_frame">Alignment 5</a>
        <iframe name="alignment_frame" src="{{ url_for('static',
          filename="alignments/t_coffee/dp00006.html") }}"
          height="100%"
          width="100%"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
    var height = window.innerHeight;
    $('iframe').css('height', height);
    });
activate = function(button_id) {
  var btn_ids = ["btn1", "btn2", "btn3", "btn4", "btn5"];
  for (var i = 0; i < btn_ids.length; i++) {
    var btn = document.getElementById(button_id);
    if (btn_ids[i] == button_id) {
      $('#'+btn_ids[i]).addClass('active');
    } else {
      $('#'+btn_ids[i]).removeClass('active');
    }
  }

}
</script>
{% endblock %}
