{% extends "base.html" %}
{% block content %} 
<div class = "panel-group" id="accordion">
    <div class="panel panel-default" style="width=100%" id ="panel0">
        <div class="panel-heading">
          <strong>Job status: </strong><span class="label label-default" id="status">QUEUED</span>
          <br>
          <br>
          <div id="job_message">
            The calculation might take a few minutes, you can bookmark
            this page and check the result later.
          </div>
        </div>
    </div>
    <div class="panel panel-default" style="width=100%" id="panel1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="panel_title_text">Disorder prediction</span>
        </h4>
      </div>
      <div id = "collapseOne" class = "panel-collapse collapse">
        <div class="panel-body">
          <div id="canvas" style="overflow:auto; height:auto; width:100%;">
          </div>
          <div id="output">
          </div>
        </div>
      </div>
      <div class=panel-footer>
        <div id="download">
            <form action="{{ url_for("dashboard.download") }}" method=POST style="clear:both;" >
                  <input type="hidden" id="download_pred_input" name="prediction"  style="display:none;"/>
                  <button type="submit" id="download_pred_button" class="btn btn-primary btn-xs disabled" style="float:right;" value="Submit">
                      <span class="glyphicon glyphicon-save"></span> Download
                  </button>
            </form>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="width=100%;" id="panel2">
      <div class="panel-heading">
          <h4 class="panel-title">
              <span class="panel_title_text">Alignment</span>
              </a>
          </h4>
      </div>
      <div id="collapseTwo" class = "panel-collapse collapse">
        <div class="panel-body">
          <span class="panel_body_text">
            <strong>coloring mode:&#160;&#160;&#160;&#160;</strong>
            <div class="btn-group" data-toggle="buttons">
              <button type="submit" id="regular_mode_button" class="btn btn-regular
                btn-s disabled" onclick="changeModeRegular()">
                <strong>Regular</strong>
              </button>
              <button type="submit" id="ptm_mode_button" class="btn btn-ptms
                btn-s" onclick="changeModePTMS()">
                <strong>PTMs</strong>
              </button>
              <button type="submit" id="motif_mode_button" class="btn btn-motifs
                btn-s" onclick="changeModeMotifs()">
                <strong>Motifs</strong>
              </button>
              <button type="submit" id="domain_mode_button" class="btn btn-domains
                btn-s" onclick="changeModeDomains()">
                <strong>Domains</strong>
              </button>
            </div>
            <a class="btn btn-default btn-xs" id="download_canvas_button"
              style="float:right;"><strong>PNG</strong></a>
            <a class="btn btn-default btn-xs" id="download_ptms_canvas_button"
              style="float:right;display:none;"><strong>PNG</strong></a>
            <a class="btn btn-default btn-xs" id="download_motifs_canvas_button"
              style="float:right;display:none;"><strong>PNG</strong></a>
            <a class="btn btn-default btn-xs" id="download_domains_canvas_button"
              style="float:right;display:none;"><strong>PNG</strong></a>
          
          </span>
          <br>
          <br>
            <pre>
              <div id="canvases" style="position:relative; height:auto; width:100%;">
                  <canvas id="canvas_regular"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;"></canvas>
                  <canvas id="canvas_ptms"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;display:none;"></canvas>
                  <div id="canvas_motifs"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;display:none;"></div>
                  <div id="canvas_domains"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;display:none;"></div>
              </div>
            </pre>
            <div id="legend_canvases_container" style="display:none;">
              <br>
              <span class="panel_title_text">Color legend</span>
              <br>
              <pre>
                <div id="legend_canvases" style="position:relative; height:auto;
                  width:100%">
                  <div id="legend_canvas" style="position:absolute; left:0px;
                    top:0px; overflow:auto; height:auto; width:100%;">
                  </div>
                  <div id="legend_canvas_ptms" style="position:absolute;
                    left:0px; top:0px; overflow:auto;
                    height:auto; width:100%; display:none;">
                  </div>
                  <div id="legend_canvas_motifs" style="position:absolute;
                    left:0px; top:0px;
                    overflow:auto;
                    height:auto; width:100%; display:none;">
                  </div>
                  <div id="legend_canvas_domains" style="position:absolute;
                    left:0px; top:0px; overflow:auto;
                    height:auto; width:100%; display:none;">
                  </div>
                </div>
              </pre>
            </div>
          </div>
      </div>
      <div class=panel-footer>
        <div id="download_alignment">
            <form action="{{ url_for("dashboard.download_alignment") }}" method=POST style="clear:both;" >
             <input type="hidden" id="download_al_input" name="alignment" style="display:none;"/>
             <button type="submit" id="download_al_button" class="btn btn-primary btn-xs disabled" style="float:right;" value="Submit">
                 <span class="glyphicon glyphicon-save"></span> Download
             </button>
            </form>
            <div class="clearfix"></div>
        </div>
      </div>
   </div>                
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
  
  if ("{{ output_type }}" == 'predict'){
     document.getElementById('panel2').style.display = 'none';
  }
  else if ("{{ output_type }}" == 'align' || "{{ output_type }}" == 'refine'
      || "{{ output_type }}" == 'annotate'){
     document.getElementById('panel1').style.display = 'none';
  }
  $(document).ready(function() {
    var intervalId = setInterval(function(){
        $.getJSON(
          "{{ url_for('kmad.get_kmad_status', output_type=output_type, id=celery_id) }}",
          function(data) {
          $('#status').text(data['status']);

            if (data['status'] == 'PENDING') {
              $('#status').removeClass("label-default")
                          .addClass("label-info");
              $('#panel0').removeClass("panel-default")
                          .addClass("panel-info");
            }

            if (data['status'] == 'FAILURE') {
              clearInterval(intervalId);
              $('#status').removeClass("label-default label-info")
                          .addClass("label-danger");
              $('#panel0').removeClass("panel-default panel-info")
                          .addClass("panel-danger");
              $('#output').text(data['message']);
            }

            if (data['status'] == 'SUCCESS') {
              clearInterval(intervalId);
              $('#status').removeClass("label-default label-info")
                          .addClass("label-success");
              $('#panel0').removeClass("panel-default panel-info")
                          .addClass("panel-success");
              document.getElementById('job_message').innerHTML = "";
              $.getJSON(
                  "{{ url_for('kmad.get_kmad_result', output_type=output_type, id=celery_id) }}",
                  function(data) {
                  if ("{{ output_type }}" == 'predict' || "{{ output_type }}" == 'predict_and_align'){ 
                      var proseq = new ProteinSequences("canvas", data['result']['prediction']);
                      proseq.update()
                      $('#collapseOne').addClass('in');
                      var raw_data = get_text_data(data['result']['prediction']);
                      document.getElementById('download_pred_input').value = raw_data;
                      $('#download_pred_button').removeClass('disabled');
                    }
                    if ("{{ output_type }}" != 'predict'){
                      var raw_alignment = data['result']['alignment']['raw'];
                      if (raw_alignment.length > 0) {
                        document.getElementById('download_al_input').value = raw_alignment;
                        var processed_alignment = data['result']['alignment']['processed'];
                        var encoded_alignment = data['result']['alignment']['encoded'];
                        var feature_codemap = data['result']['feature_codemap'];
                        draw_alignment('canvas_regular', processed_alignment);
                        var codon_length = 7;
                        draw_alignment_ptms('canvas_ptms', encoded_alignment, 
                            codon_length);
                        draw_alignment_with_features('canvas_motifs', 
                            encoded_alignment, codon_length,
                            feature_codemap['motifs'], 'motifs');
                        draw_alignment_with_features('canvas_domains', 
                            encoded_alignment, codon_length,
                            feature_codemap['domains'], 'domains');
                        var ptms_legend = new PTMsLegend('legend_canvas_ptms');
                        ptms_legend.update();
                        var motifs_legend = new MotifsLegend(
                            'legend_canvas_motifs',
                            feature_codemap['motifs']);
                        motifs_legend.update();
                        var domains_legend = new DomainsLegend(
                            'legend_canvas_domains',
                            feature_codemap['domains']);
                        domains_legend.update();
                        $('#download_al_button').removeClass('disabled');
                        $('#collapseTwo').addClass('in');
                        $('#collapseThree').addClass('in');
                      } else {
                        document.getElementById('status').innerHTML = "FAILURE";
                        $('#status').removeClass("label-default label-info label-success")
                                    .addClass("label-warning");
                        $('#panel0').removeClass("panel-default panel-info panel-success")
                                    .addClass("panel-warning");
                        document.getElementById('job_message').innerHTML = 'No sequences found with BLAST. Nothing to align.';
                      }
                    }
                });
            }
          }
        )}, 1000);
  });
  changeModePTMS = function() {
    document.getElementById('canvas_regular').style.display = 'none'; 
    document.getElementById('canvas_domains').style.display = 'none'; 
    document.getElementById('canvas_motifs').style.display = 'none'; 
    document.getElementById('canvas_ptms').style.display = ''; 
    document.getElementById('download_canvas_button').style.display = 'none'; 
    document.getElementById('download_domains_canvas_button').style.display = 'none'; 
    document.getElementById('download_motifs_canvas_button').style.display = 'none'; 
    document.getElementById('download_ptms_canvas_button').style.display = ''; 
    document.getElementById('legend_canvases_container').style.display = ''; 
    document.getElementById('legend_canvas_ptms').style.display = ''; 
    document.getElementById('legend_canvas_motifs').style.display = 'none'; 
    document.getElementById('legend_canvas_domains').style.display = 'none'; 
    $('#ptm_mode_button').addClass('disabled');
    $('#regular_mode_button').removeClass('disabled');
    $('#motif_mode_button').removeClass('disabled');
    $('#domain_mode_button').removeClass('disabled');
    $('#domain_mode_button').removeClass('active');
    $('#regular_mode_button').removeClass('active');
    $('#motif_mode_button').removeClass('active');

  }
  changeModeRegular = function() {
    document.getElementById('canvas_regular').style.display = ''; 
    document.getElementById('canvas_domains').style.display = 'none'; 
    document.getElementById('canvas_motifs').style.display = 'none'; 
    document.getElementById('canvas_ptms').style.display = 'none'; 
    document.getElementById('download_canvas_button').style.display = ''; 
    document.getElementById('download_domains_canvas_button').style.display = 'none'; 
    document.getElementById('download_motifs_canvas_button').style.display = 'none'; 
    document.getElementById('download_ptms_canvas_button').style.display = 'none'; 
    document.getElementById('legend_canvases_container').style.display = 'none'; 
    $('#regular_mode_button').addClass('disabled');
    $('#ptm_mode_button').removeClass('disabled');
    $('#motif_mode_button').removeClass('disabled');
    $('#domain_mode_button').removeClass('disabled');
    $('#ptm_mode_button').removeClass('active');
    $('#motif_mode_button').removeClass('active');
    $('#domain_mode_button').removeClass('active');
  }
  changeModeDomains = function() {
    document.getElementById('canvas_regular').style.display = 'none'; 
    document.getElementById('canvas_domains').style.display = ''; 
    document.getElementById('canvas_motifs').style.display = 'none'; 
    document.getElementById('canvas_ptms').style.display = 'none'; 
    document.getElementById('download_canvas_button').style.display = 'none'; 
    document.getElementById('download_domains_canvas_button').style.display = ''; 
    document.getElementById('download_motifs_canvas_button').style.display = 'none'; 
    document.getElementById('download_ptms_canvas_button').style.display = 'none'; 
    document.getElementById('legend_canvases_container').style.display = ''; 
    document.getElementById('legend_canvas_ptms').style.display = 'none'; 
    document.getElementById('legend_canvas_motifs').style.display = 'none'; 
    document.getElementById('legend_canvas_domains').style.display = ''; 
    $('#ptm_mode_button').removeClass('disabled');
    $('#regular_mode_button').removeClass('disabled');
    $('#motif_mode_button').removeClass('disabled');
    $('#domain_mode_button').addClass('disabled');
    $('#ptm_mode_button').removeClass('active');
    $('#regular_mode_button').removeClass('active');
    $('#motif_mode_button').removeClass('active');

  }
  changeModeMotifs = function() {
    document.getElementById('canvas_regular').style.display = 'none'; 
    document.getElementById('canvas_domains').style.display = 'none'; 
    document.getElementById('canvas_motifs').style.display = ''; 
    document.getElementById('canvas_ptms').style.display = 'none'; 
    document.getElementById('download_canvas_button').style.display = 'none'; 
    document.getElementById('download_domains_canvas_button').style.display = 'none'; 
    document.getElementById('download_motifs_canvas_button').style.display = ''; 
    document.getElementById('download_ptms_canvas_button').style.display = 'none'; 
    document.getElementById('legend_canvases_container').style.display = ''; 
    document.getElementById('legend_canvas_ptms').style.display = 'none'; 
    document.getElementById('legend_canvas_motifs').style.display = ''; 
    document.getElementById('legend_canvas_domains').style.display = 'none'; 
    $('#motif_mode_button').addClass('disabled');
    $('#ptm_mode_button').removeClass('disabled');
    $('#regular_mode_button').removeClass('disabled');
    $('#domain_mode_button').removeClass('disabled');
    $('#ptm_mode_button').removeClass('active');
    $('#regular_mode_button').removeClass('active');
    $('#domain_mode_button').removeClass('active');
  }
</script>
{% endblock %}
