{% extends "base.html" %}
{% block title %}
KMAD {{ output_type | replace('_', ' ')}}
{% endblock %}
{% block content %} 
<div class = "panel-group" id="accordion">
    <div class="panel panel-default" style="width=100%" id ="panel0">
        <div class="panel-heading">
          <strong>Job status: </strong><span class="label label-default" id="status">QUEUED</span>
          <br>
          <br>
          <div id="job_message">
            The calculation might take a few minutes, you can bookmark
            this page and check the result later.
          </div>
        </div>
    </div>
    <div class="panel panel-default" style="width=100%" id="panel1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="panel-title-text">Disorder prediction</span>
        </h4>
      </div>
      <div id = "collapseOne" class = "panel-collapse collapse">
        <div class="panel-body">
          <div id="canvas" style="overflow:auto; height:auto; width:100%;">
          </div>
          <div id="output">
          </div>
        </div>
      </div>
      <div class=panel-footer>
        <div id="download">
            <form action="{{ url_for("dashboard.download") }}" method=POST style="clear:both;" >
                  <input type="hidden" id="download_pred_input" name="prediction"  style="display:none;"/>
                  <button type="submit" id="download_pred_button" class="btn
                    btn-primary btn-xs disabled"
                    style="float:right;display:none;" value="Submit">
                      <span class="glyphicon glyphicon-save"></span> Download
                  </button>
            </form>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" style="width=100%;" id="panel2">
      <div class="panel-heading">
          <h4 class="panel-title">
              <span class="panel-title-text">Alignment</span>
          </h4>
      </div>
      <div id="collapseTwo" class = "panel-collapse collapse">
        <div class="panel-body panel-body-custom">
            <span class="panel-title-text">Coloring
              mode:&#160;&#160;&#160;&#160;</span>
            <div class="btn-group" data-toggle="buttons">
              <button type="submit" id="regular_mode_button" class="btn btn-primary
                btn-s disabled" onclick="changeMode('regular')">
                <strong>Regular</strong>
              </button>
              <button type="submit" id="ptm_mode_button" class="btn btn-primary
                btn-s" onclick="changeMode('ptm')">
                <strong>PTMs</strong>
              </button>
              <button type="submit" id="motif_mode_button" class="btn
                btn-primary btn-s" onclick="changeMode('motif')">
                <strong>Motifs</strong>
              </button>
              </button>
              <button type="submit" id="domain_mode_button" class="btn
                btn-primary btn-s" onclick="changeMode('domain')">
                <strong>Domains</strong>
              </button>
            </div>
            <a class="btn btn-default btn-xs" id="download_regular_canvas_button"
              style="float:right;"><strong>PNG</strong></a>
            <a class="btn btn-default btn-xs" id="download_ptm_canvas_button"
              style="float:right;display:none;"><strong>PNG</strong></a>
            <a class="btn btn-default btn-xs" id="download_motif_canvas_button"
              style="float:right;display:none;"><strong>PNG</strong></a>
            <a class="btn btn-default btn-xs" id="download_domain_canvas_button"
              style="float:right;display:none;"><strong>PNG</strong></a>
          
          <br>
          <br>
          <div class="jumbotron" style="overflow:auto;">
              <div id="canvases"
                style="position:relative;height:300px;width:100%">
                  <div id="canvas_regular"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;"></div>
                  <div id="canvas_ptm"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;display:none;"></div>
                  <div id="canvas_motif"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;display:none;"></div>
                  <div id="canvas_domain"
                          style="overflow:auto;position:absolute;left:0px;
                                 top:0px;display:none;"></div>
              </div>
              </div>
            <div id="legend_canvases_container" style="display:none;">
              <br>
              <span class="panel-title-text">Color legend</span>
              <br>
              <div class="jumbotron" style="overflow:auto;">
                <div id="legend_canvases" style="position:relative; height:auto;
                  width:100%">
                  <div id="legend_canvas" style="position:absolute; left:0px;
                    top:0px; overflow:auto; height:auto; width:100%;">
                  </div>
                  <div id="legend_canvas_ptm" style="position:absolute;
                    left:0px; top:0px; overflow:auto;
                    height:auto; width:100%; display:none;">
                  </div>
                  <div id="legend_canvas_motif" style="position:absolute;
                    left:0px; top:0px;
                    overflow:auto;
                    height:auto; width:100%; display:none;">
                  </div>
                  </div>
                  <div id="legend_canvas_domain" style="position:absolute;
                    left:0px; top:0px; overflow:auto;
                    height:auto; width:100%; display:none;">
                  </div>
               </div>
             </div>
            </div>
      </div>
      <div class=panel-footer>
        <div id="download_alignment" style="display:none;">
            <form action="{{ url_for("dashboard.download_alignment") }}" method=POST style="clear:both;" >
             <input type="hidden" id="download_al_input" name="alignment" style="display:none;"/>
             <button type="submit" id="download_al_button" class="btn btn-primary btn-xs disabled" style="float:right;" value="Submit">
                 <span class="glyphicon glyphicon-save"></span> Download
             </button>
            </form>
            <div class="clearfix"></div>
        </div>
      </div>
   </div>                
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
  
  $(document).ready(function() {
    if ("{{ output_type }}" == 'predict'){
       document.getElementById('panel2').style.display = 'none';
    }
    else if ("{{ output_type }}" == 'align' || "{{ output_type }}" == 'refine'
        || "{{ output_type }}" == 'annotate'){
        document.getElementById('panel1').style.display = 'none';
    } 
    var intervalId = setInterval(function(){
        $.getJSON(
          "{{ url_for('kmad.get_kmad_status', output_type=output_type, id=celery_id) }}",
          function(data) {
          $('#status').text(data['status']);

            if (data['status'] == 'PENDING') {
              $('#status').removeClass("label-default")
                          .addClass("label-info");
              $('#panel0').removeClass("panel-default")
                          .addClass("panel-info");
            }

            if (data['status'] == 'FAILURE') {
              clearInterval(intervalId);
              $('#status').removeClass("label-default label-info")
                          .addClass("label-danger");
              $('#panel0').removeClass("panel-default panel-info")
                          .addClass("panel-danger");
              $('#output').text(data['message']);
            }

            if (data['status'] == 'SUCCESS') {
              clearInterval(intervalId);
              $('#status').removeClass("label-default label-info")
                          .addClass("label-success");
              $('#panel0').removeClass("panel-default panel-info")
                          .addClass("panel-success");
              document.getElementById('job_message').innerHTML = "";
              $.getJSON(
                  "{{ url_for('kmad.get_kmad_result', output_type=output_type, id=celery_id) }}",
                  function(data) {
                  if ("{{ output_type }}" == 'predict' || "{{ output_type }}" == 'predict_and_align'){ 
                    var proseq = new ProteinSequences("canvas",
                        data['result']['prediction'],
                        data['result']['sequence']);
                    proseq.update()
                    $('#collapseOne').addClass('in');
                    var prediction_data =
                    get_text_data(data['result']['prediction']['filtered'],
                        data['result']['sequence']);
                    document.getElementById('download_pred_input').value = prediction_data;
                    $('#download_pred_button').removeClass('disabled');
                    document.getElementById('download_pred_button').style.display = "";
                    }
                    if ("{{ output_type }}" != 'predict'){
                      var raw_alignment = data['result']['fasta_file'];
                      if (raw_alignment.length > 0) {
                        document.getElementById('download_al_input').value = raw_alignment;
                        // var processed_alignment = data['result']['alignment']['processed'];
                        var encoded_alignment = data['result']['alignment']['encoded'];
                        var feature_codemap = data['result']['feature_codemap'];
                        draw_alignment('canvas_regular', processed_alignment);
                        var codon_length = 7;
                        // if ("{{ output_type }}" == 'predict_and_align') {
                        //   var disorder_predictions = data['result']['prediction'];
                        //   var filtered_motifs_alignment = data['result']['alignment']['filtered_motifs'];
                        //   // draw_filtered_motifs('canvas_filtered_motif', 
                        //   //     encoded_alignment, codon_length,
                        //   //     feature_codemap['motifs'],
                        //   //     disorder_predictions);
                        //   draw_alignment_with_features('canvas_motif', 
                        //       filtered_motifs_alignment, codon_length,
                        //       feature_codemap['motifs'], 'motif');
                        //   var filtered_motif_legend = new MotifsLegend(
                        //       'legend_canvas_filtered_motif',
                        //       feature_codemap['motifs']);
                        //   filtered_motif_legend.update();
                        // }
                        draw_alignment_ptms('canvas_ptm', encoded_alignment, 
                            codon_length);
                        draw_alignment_with_features('canvas_motif', 
                            encoded_alignment, codon_length,
                            feature_codemap['motifs'], 'motif');
                        draw_alignment_with_features('canvas_domain', 
                            encoded_alignment, codon_length,
                            feature_codemap['domains'], 'domain');
                        var ptm_legend = new PTMsLegend('legend_canvas_ptm');
                        ptm_legend.update();
                        var motif_legend = new MotifsLegend(
                            'legend_canvas_motif',
                            feature_codemap['motifs']);
                        motif_legend.update();
                        var domain_legend = new DomainsLegend(
                            'legend_canvas_domain',
                            feature_codemap['domains']);
                        domain_legend.update();
                        $('#download_al_button').removeClass('disabled');
                        document.getElementById('download_alignment').style.display = "";
                        $('#collapseTwo').addClass('in');
                        $('#collapseThree').addClass('in');
                      } else {
                        document.getElementById('status').innerHTML = "FAILURE";
                        $('#status').removeClass("label-default label-info label-success")
                                    .addClass("label-warning");
                        $('#panel0').removeClass("panel-default panel-info panel-success")
                                    .addClass("panel-warning");
                        document.getElementById('job_message').innerHTML = 'No sequences found with BLAST. Nothing to align.';
                      }
                    }
                });
            }
          }
        )}, 1000);
  });
</script>
<script src="{{ url_for('static', filename='js/output.js') }}"></script>
{% endblock %}
