{% extends "base.html" %}
{% block content %}
<div class='panel panel-default' style="width:100%;">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="panel_title_text">Download standalone KMAD</span>
    </div>
  </div>
  <div class="panel-body">
    <span class="panel_body_text">
      <div class="row">
      <div class="col-xs-12">
      <br>
      1. Download the source code:
      <br>
      <br>
      <div id="download_source">
        <form action="{{ url_for("dashboard.download_source") }}" method=POST style="clear:both;" >
        <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-download-alt"
          aria-hidden="true"></span>
        &nbsp;<strong>KMAD-1.03.tar.gz</strong></a>
      </button>
      </div>
      <br>
      <br>
      2. Unpack the directory:
      <br>
      <br>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-6">
        <pre>tar -zxvf KMAD-1.02.tar.gz</pre>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
      3. Follow installation instructions in README.md.
        </div>
      </div>
    </span>
  </div>

</div>
{% endblock %}
{% block js %}
{% endblock %}
