{% extends "base.html" %}
{% block content %}
<div class='panel panel-default' style="width:100%;">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="panel-title-text">Download standalone KMAD</span>
    </div>
  </div>
  <div class="panel-body">
    <span class="panel-body-text">
      <div class="row">
      <div class="col-md-12">
      <br>
      1. Download the source code:
      <br>
      <br>
      <div id="download_source">
      <a href="{{ url_for('static', filename='files/kmad-1.03.tar.gz') }}"
        class="btn btn-primary">
        <span class="glyphicon glyphicon-download-alt"
          aria-hidden="true"></span>
        <strong>KMAD-1.03.tar.gz</strong></a>
      </div>
      <br>
      <br>
      2. Unpack the directory:
      <br>
      <br>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <pre>tar -zxvf kmad-1.03.tar.gz</pre>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
      3. Follow installation instructions in README.md.
        </div>
      </div>
    </span>
  </div>

</div>
{% endblock %}
{% block js %}
{% endblock %}
