{% extends "base.html" %}
{% block title %}
Structure alignment
{% endblock %}
{% block content %}
<div class='panel panel-default' style="width:100%;">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="panel-title-text">Structure alignment, 1AIQ and 1B02</span>
    </div>
  </div>
  <div class="panel-body panel-body-custom">
    Structure alignment of the 1AIQ and 1B02 structures.
    Cyan backbone and blue sidechains belong to the 1B02 structure,
    and red backbone and 
    orange sidechaings belong to structure 1AIQ.
    This is a slightly amibuous situation because Ser53 is almost halfway
    between the Gln39 and Asn40 residues. Thus, it woluld be less surprising if
    the difference between the methods was the alignment of this serine. But
    BAliBASE decides that Gly41 is an insertion and aligns Glu54 with Asp40
    instead.
    <img src="{{ url_for('static', filename="images/1aiq_1b02.gif") }}">
    <br>
    <br>
    <div style="overflow:auto;">
      <img src="{{ url_for('static', filename="images/1aiq_1b02.png") }}">
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}
