{% extends "base.html" %}
{% block title %}
Alignment example
{% endblock %}
{% block content %}
<div class='panel panel-default' style="width:100%;">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="panel-title-text">Alignment 3</span>
    </div>
  </div>
  <div class="panel-body panel-body-custom">
      <br>
      <strong>KMAD</strong>
      <br>
      <iframe src="{{ url_for('static', filename='alignments/box133_kmad.html') }}" style="width:100%;height:250px" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="1" >
        </iframe>
      <br>
      <br>
      Clustal
      <br>
      <iframe src="{{ url_for('static', filename='alignments/box133_clustal.html') }}" style="width:100%;height:250px" name="targetframe" allowTransparency="true" scrolling="yes" frameborder="1" >
        </iframe>
      <br>
      <br>
  </div>

</div>
{% endblock %}
{% block js %}
{% endblock %}
