<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery/dist/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',
      filename='libs/bootstrap-validator/dist/validator.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/bootstrap-tour/build/js/bootstrap-tour.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='libs/kineticjs/kinetic.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/joseq.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/txtproc.js') }}"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/jquery-ui/themes/smoothness/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',
                                            filename='libs/bootstrap-tour/build/css/bootstrap-tour.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block additional_imports %}
    {% endblock %}

  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="KMADlogo" class="navbar-brand" href="{{ url_for('dashboard.index') }}"><strong>K<span>M<span>A<span>D</span></span></span></strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="{{ url_for('dashboard.about') }}">About</a></li>
      <li><a href="{{ url_for('dashboard.methods') }}">Methods</a></li>
      <li><a href="{{ url_for('dashboard.standalone') }}">Download</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          API
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{ url_for('kman.api_docs') }}">API documentation</a>
            </li>
            <li>
              <a href="{{ url_for('kman.api_example') }}">API example</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          Help
          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a id="start_tour" href="#" style="display:none;">Tour</a>
              <a id="start_tour2" href={{ url_for('dashboard.index')
              }}#start_tour>Tour</a>
            </li>
            <li>
              <a href="{{ url_for('dashboard.help') }}">Help page</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container">
          <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert"
                    aria-hidden="true">&times;</button>
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endwith %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
