{% extends "base.html" %}
{% block content %}
<div class='panel panel-default' style="width:100%;">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="panel_title_text">Help</span>
    </div>
  </div>
  <div class="panel-body">
    <span class="panel_body_text">
      The sequence should be either in FASTA format or a raw protein sequence.
      In the action field you specify which action do you want to perform:
      either predict, predict and align or align.
      'Submit' button submits the job and redirects you to the output page. 
      You can download both the disorder prediction and the alignment (in FASTA
      format).
      <br>
      In case of any questions don't hesitate to contact us (<a
        href="mailto:joanna.lange@radboudumc.nl">j.lange@radboudumc.nl</a>).
    </span>
  </div>

</div>
{% endblock %}
{% block js %}
{% endblock %}
