{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}
<style>
    .ui-menu { width: 150px; }
</style>

<!-- wtforms -->
<div id='prediction_alert' class="alert alert-warning alert-dismissible" role="alert"
  style="display:none;">
    <button type="button" class="close" data-dismiss="alert"
      aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> For a fast disorder prediction we recommend 
    using only the <strong>GlobPlot</strong> method.
</div>
<form method="post" action="{{ url_for('dashboard.index') }}" role="form"
      enctype="multipart/form-data">
      {{ form.hidden_tag() }}
          <div class="panel panel-default" style="width=100%" id ="panel0">
          <!--<div class="panel panel-default panel-kman" style="width=100%" id
            ="panel0">-->
            <div class="panel-heading">
              <div class="panel-title" >
                <div style="margin:10px;padding-top:5px;">
                  <span
                    class="kman-k">K</span><span class="panel_title_text">nowledge
                    Based </span><span
                    class="kman-m">M</span><span class="panel_title_text">ultiple
                    Sequence </span><span
                    class="kman-a">A</span><span class="panel_title_text">lignment
                    for Intrinsically </span><span
                    class="kman-n">D</span><span class="panel_title_text">isordered
                    Proteins </span>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6">
                  <div id="sequence_div" class="form-group">
                    <div style="margin:10px;">
                     {{ form.sequence(class_='form-control',
                                      placeholder='Enter a protein sequence',
                                      rows="15") }}
                    </div>
                  </div>
                </div>
        <div class="col-xs-6">
          <span class="panel_body_text">
                <div id="alignment_options_div">
                  <div class="row">
                    <div class="col-xs-6">
                    <div id = "gap_open_div" class="form-group"
                      style="margin:20px;">
                      <div class="row">
                      <div class="col-xs-8">{{ form.gap_open_p.label }}</div>
                      <div class="col-xs-4">{{ form.gap_open_p(class_='form-control gap-form')}}</div>
                      </div>
                    </div>
                    </div>
                    <div class="col-xs-6">
                      <div id = "gap_ext_div" class="form-group" style="margin:20px;">
                        <div class="row">
                          <div class="col-xs-8">{{ form.gap_ext_p.label }}</div>
                          <div class="col-xs-4">{{ form.gap_ext_p(class_='form-control gap-form')}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div id = "end_gap_div" class="form-group" style="margin:20px;">
                        <div class="row">
                          <div class="col-xs-8">{{ form.end_gap_p.label }}</div>
                          <div class="col-xs-4">{{ form.end_gap_p(class_='form-control gap-form')}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div id = "ptm_score_div" class="form-group" style="margin:20px;">
                        <div class="row">
                          <div class="col-xs-8">{{ form.ptm_score.label }}</div>
                          <div class="col-xs-4">{{ form.ptm_score(class_='form-control gap-form')}}</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-6">
                      <div id = "domain_score_div" class="form-group" style="margin:20px;">
                        <div class="row">
                          <div class="col-xs-8">{{ form.domain_score.label }}</div>
                          <div class="col-xs-4">{{ form.domain_score(class_='form-control gap-form')}}</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div id = "motif_score_div" class="form-group" style="margin:20px;">
                        <div class="row">
                          <div class="col-xs-8">{{ form.motif_score.label }}</div>
                          <div class="col-xs-4">{{ form.motif_score(class_='form-control gap-form')}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-12">
                    <div id="prediction_method_div" class="form-group" style="width=100%;
                      height:100%;margin:20px;padding-top:10px;">
                      <div id="prediction_method_inner_div">
                        {{ form.prediction_method.label }}
                        {{ form.prediction_method }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div id="form_usr_feat_div" class="form-group " style="float:right;
                      width=100%; height:100%;margin:30px;padding-top:25px;">
                      <div id="usr_feat_inner_div">
                        {{ form.usr_features.label }}: {{ form.usr_features }}
                        <div data-toggle="fieldset" id="feat-fieldset">
                                      {{ form.usr_features.label }} <button
                                        type="button"
                                        data-toggle="fieldset-add-row"
                                        data-target="#feat-fieldset">+</button>
                          <table>
                            <tr>
                              <th> Name </th>
                              <th> Number </th>
                              <th></th>
                            </tr>
                            {% for feat in form.usr_features %}
                              <tr data-toggle="fieldset-entry">
                                <td>{{ feat.name }}</td>
                                <td>{{ feat.number }}</td>
                                <td><button type="button"
                                    data-toggle="fieldset-remove-row"
                                    id="feat-{{loop.index0}}-remove">-</button></td>
                              </tr>
                              {% endfor %}
                          </table>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div id="output_type_div" class="form-group" style="width=100%;
                      height:100%;margin:20px;padding-top:10px;">
                      <div id="output_type_inner_div">
                        {{ form.output_type.label }}
                        {{ form.output_type }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div id="form_submit_div" class="form-group " style="float:right;
                      width=100%; height:100%;margin:30px;padding-top:25px;">
                      <div id="submit_inner_div">
                        <button type="submit" name="sequence" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                      </div>
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
</div>
    
</form>
<br>
{% endblock %}
{% block js %}
<script type="text/javascript">
  function show_sequence_input() {
      $('#sequence_div').removeClass('hidden');
  }
  function show_forms_predict() {
    $('#prediction_method_div').removeClass('hidden');
    $('#alignment_options_div').addClass('hidden');
  }
  function show_forms_panda() {
    $('#prediction_method_div').removeClass('hidden');
    $('#alignment_options_div').removeClass('hidden');
  }
  function show_forms_align() {
    $('#prediction_method_div').addClass('hidden');
    $('#alignment_options_div').removeClass('hidden');
  }
  function show_forms() {
    var selected = $('#output_type').children(":selected").attr('value');
      switch (selected) {
      case 'align':
        show_forms_align();
        break;
      case 'predict_and_align':
        show_forms_panda();
        break;
      case 'predict':
        show_forms_predict();
        break;
      }
  }
  function show_tour_data_input(index) {
      switch (index) {
      case 3:
        show_sequence_input();
        break;
      }
  }
  function show_data_input() {
      var selected = $('#input_type').children(":selected").attr('value');
      switch (selected) {
      case 'sequence':
        show_sequence_input();
        break;
      }
  }

  function show_prediction_alert() {
    if (document.getElementById('prediction_alert')){
      document.getElementById("prediction_alert").style.display = '';
    }
  }

  $(document).ready( function() {
    // Setup tour
    var tour = new Tour({
      backdrop: true,
      orphan: true,
      storage: false,
      onNext: function (tour) {
        show_tour_data_input(tour.getCurrentStep() + 1)
      },
      onPrev: function (tour) {
        show_tour_data_input(tour.getCurrentStep() - 1)
      },
      onEnd: function (tour) { show_data_input(); },
      steps: [
      {
        element: "",
        title: "Start Tour",
        content: "This tour will walk you through the usage of KMAN." +
                 " Once the tour is complete, you can get started!" +
                 "<br><br>Click next to begin."
      },
      {
        element: "#output_type_inner_div",
        title: "Output Type",
        content: "Select the action to be performed.",
        placement: "top",
        onShown:  function() {
          document.getElementById("output_type_inner_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("output_type_inner_div").style.background="";
        }
      },
      {
        element: "#sequence_div",
        title: "Sequence",
        placement: "right"
      },
      {
        element: "#gap_open_div",
        title: "Gap opening penalty",
        content: "Set the penalty for opening a gap",
        placement: "left",
        onShown:  function() {
          document.getElementById("gap_open_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("gap_open_div").style.background="";
        }
      },
      {
        element: "#gap_ext_div",
        title: "Gap extension penalty",
        content: "Set the penalty for extending a gap",
        placement: "left",
        backdrop: true,
        onShown:  function() {
          document.getElementById("gap_ext_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("gap_ext_div").style.background="";
        }
      },
      {
        element: "#end_gap_div",
        title: "End gap penalty",
        content: "Set the penalty for a gap at the end or beginning of a" +
                 "sequence",
        placement: "bottom",
        onShown:  function() {
          document.getElementById("end_gap_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("end_gap_div").style.background="";
        }

      },
      {
        element: "#ptm_score_div",
        title: "Posttranslational modification score",
        content: "Set the additional score for aligning two residues with a" +
                 "certain PTM assigned to them",
        placement: "bottom",
        onShown:  function() {
          document.getElementById("ptm_score_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("ptm_score_div").style.background="";
        }
      },
      {
        element: "#domain_score_div",
        title: "Domain score",
        content: "Set the additional score for aligning two residues with a" +
                 "certain domain assigned to them",
        placement: "bottom",
        onShown:  function() {
          document.getElementById("domain_score_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("domain_score_div").style.background="";
        }
      },
      {
        element: "#motif_score_div",
        title: "Motif score",
        content: "Set the additional score for aligning two residues with a" +
                 "certain motif assigned to them",
        placement: "bottom",
        onShown:  function() {
          document.getElementById("motif_score_div").style.background="#EBEBEB";
        },
        onHidden:  function() {
          document.getElementById("motif_score_div").style.background="";
        }
      },
      {
        element: "#submit_inner_div",
        title: "Submit",
        content: "When you're ready, click <code>Submit</code> to send your " +
                 "request to the server.<br><br>A result page will be shown " +
                 "with the status of your request, and when completed, the " +
                 "output will be shown.",

        placement: "left" 
      }
    ]});
    tour.init();

    $('#start_tour').click(function() { tour.restart(); });

    // Ensure that the input types listed are correct for the selected output
    // type.
    var selected = $('#output_type').children(":selected").attr('value');
    $('#output_type option[value=' + selected + ']').prop('selected', true);
    show_forms();
    $('#output_type').change(function() { show_forms(); });
    $('#prediction_method-1').change( function() {show_prediction_alert(); });
    $('#prediction_method-2').change( function() {show_prediction_alert(); });
    $('#prediction_method-3').change( function() {show_prediction_alert(); });
    $('#prediction_method-4').change( function() {show_prediction_alert(); });

  });
</script>

</script>
{% endblock %}


