{% extends "base.html" %}

{% block content %}

{% from "form_macros.html" import render_form_errors %}

{{ render_form_errors(form) }}
<style>
    .ui-menu { width: 150px; }
</style>
<br>

<!-- wtforms -->
<form method="post" action="{{ url_for('dashboard.index') }}" role="form"
      enctype="multipart/form-data">
{{ form.hidden_tag() }}
<div class="row">
        <div id="sequence_div" class="form-group">
            <div>
            {{ form.sequence(class_='form-control',
                     placeholder='Enter a protein sequence',
                     rows="6", style="width: 100%;") }}
            </div>
        </div>
<div>
<div class="row">
      <div class="col-xs-12">
        <div id="output_type_div" class="form-group">
          {{ form.output_type.label }}
          {{ form.output_type(class_='form-control', style="width:300px;") }}
        </div>
      </div>
      <div class="col-xs-6"> 
        <div id="form_submit_div" class="form-group ">
            <button type="reset" class="btn btn-default">Clear</button>
            <button type="submit" name="sequence" class="btn btn-primary">Submit</button>
        </div>
      </div>
</div>
</form>
<br>
{% endblock %}
{% block js %}
<script type="text/javascript">
function show_sequence_input() {
    $('#sequence_div').removeClass('hidden');
}
</script>
{% endblock %}


